# Bonus: Temperature Analysis I

In [16]:
import pandas as pd
from datetime import datetime as dt
from scipy import stats

In [17]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources\hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [18]:
# Convert the date column format from string to datetime
df["date"] = pd.to_datetime(df["date"])
df.head()

       station       date  prcp  tobs
0  USC00519397 2010-01-01  0.08    65
1  USC00519397 2010-01-02  0.00    63
2  USC00519397 2010-01-03  0.00    74
3  USC00519397 2010-01-04  0.00    76
4  USC00519397 2010-01-06   NaN    73

In [19]:
# Set the date column as the DataFrame index
df.set_index("date")
df.head()

       station       date  prcp  tobs
0  USC00519397 2010-01-01  0.08    65
1  USC00519397 2010-01-02  0.00    63
2  USC00519397 2010-01-03  0.00    74
3  USC00519397 2010-01-04  0.00    76
4  USC00519397 2010-01-06   NaN    73

In [20]:
# Drop the date column
nodate_df = df.reset_index(drop=True)
nodate_df.head()

       station       date  prcp  tobs
0  USC00519397 2010-01-01  0.08    65
1  USC00519397 2010-01-02  0.00    63
2  USC00519397 2010-01-03  0.00    74
3  USC00519397 2010-01-04  0.00    76
4  USC00519397 2010-01-06   NaN    73

### Compare June and December data across all years

In [21]:
# Filter data for desired months
june_df = df.loc[(pd.DatetimeIndex(df['date']).month == 6)]
june_df.head()

         station       date  prcp  tobs
133  USC00519397 2010-06-01  0.00    78
134  USC00519397 2010-06-02  0.01    76
135  USC00519397 2010-06-03  0.00    78
136  USC00519397 2010-06-04  0.00    76
137  USC00519397 2010-06-05  0.00    77

In [22]:
dec_df = df.loc[(pd.DatetimeIndex(df['date']).month == 12)]
dec_df.head()

         station       date  prcp  tobs
305  USC00519397 2010-12-01  0.04    76
306  USC00519397 2010-12-03  0.00    74
307  USC00519397 2010-12-04  0.00    74
308  USC00519397 2010-12-06  0.00    64
309  USC00519397 2010-12-07  0.00    64

In [23]:
june_df_avg_tobs = round(june_df["tobs"].mean(),2)
june_df_avg_tobs

74.94

In [24]:
# Identify the average temperature for December
december_avg_tobs = round(dec_df["tobs"].mean(),2)
december_avg_tobs

71.04

In [25]:
june_bystation_df = june_df.groupby(['station']).mean()
june_bystation_df

                 prcp       tobs
station
USC00511918  0.015157  74.139394
USC00513117  0.118248  74.050847
USC00514830  0.114192  76.005376
USC00516128  0.495748  71.937220
USC00517948  0.057975  76.655405
USC00518838  0.094615  73.394737
USC00519281  0.151525  73.271186
USC00519397  0.022661  77.559322
USC00519523  0.050044  76.668103

In [26]:
dec_bystation_df = dec_df.groupby(['station']).mean()
dec_bystation_df

                 prcp       tobs
station
USC00511918  0.138146  69.684211
USC00513117  0.203241  71.069444
USC00514830  0.154966  73.224719
USC00516128  0.507005  69.291262
USC00517948  0.152727  71.834862
USC00518838  0.638182  72.421053
USC00519281  0.244931  69.903226
USC00519397  0.075314  71.109524
USC00519523  0.162010  72.433333

In [31]:
# Create collections of temperature data
# Run paired t-test
paired_t = stats.ttest_rel(june_bystation_df.tobs, dec_bystation_df.tobs)
paired_t

Ttest_relResult(statistic=6.95696617044294, pvalue=0.00011759380231523222)

In [33]:
unpaired_t = stats.ttest_ind(june_df.tobs, dec_df.tobs)
unpaired_t

Ttest_indResult(statistic=31.60372399000329, pvalue=3.9025129038616655e-191)

### Analysis

paired ttest:  p-value for June & December temperatures across all stations is significantly low.
unpaired ttest: p-value for June & December temperatures across all stations is at 3.906

Both tests conclude that statistically the difference is significant.